.css-1jbxaz3-MuiChartsLabelMark-root .MuiChartsLabelMark-mask {
  height: 16px;
  width: 16px;
}

.css-pkh84c-MuiChartsWrapper-root {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
