.branch_value {
  border: 1px solid var(--highligth-color);
  border-radius: 8px;
  color: var(--highligth-color);
  background-color: var(--light-highligth-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0.6em 1.2em;
}
