.topNav {
  background-color: var(--bg-color-dark-ligth);
  margin-bottom: 5px;
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
}

/* CSS to filter the search */
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 1em;
  gap: 5px;
  position: absolute;
  width: 100vw;
}

.environnement_list {
  min-width: 50%;
}

.year_list {
  min-width: 25%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .switch {
    width: 57px;
    height: 30px;
  }
  .slider:before {
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
  }
  .navigation {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .switch {
    width: 57px;
    height: 30px;
  }
  .slider:before {
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
  }
  .navigation {
    width: 50%;
  }
}
