.topNav {
  background-color: var(--bg-color-dark-ligth);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
}

/* CSS to filter the search */
.navigation {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 1em;
  gap: 5%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navigation {
    padding: 0 2em;
  }
}

@media screen and (min-width: 1024px) {
  .topNav {
    padding: 0.5em 12em;
  }
  .navigation {
    padding: 0 12em;
  }
}
