.optional_crumbs {
  width: 100%;
  height: 50%;
  padding: 0 2em;
}

.static_crumbs {
  width: 94%;
  margin-left: 3%;
  display: flex;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.234);
  overflow: hidden;
  border-radius: 0.3rem;
}

.crumbs {
  background-color: var(--light-highligth-color);
  color: var(--highligth-color);
  outline: none;
  padding: 0.75em 1.5em;
  position: relative;
  text-decoration: none;
  transition: background 0.2s linear;
  clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
  width: 6em;
}

.crumbs:first-child {
  clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0 100%, 0 49%, 0 0);
}

.crumbs:last-child {
  background-color: var(--dark-highligth-color);
  color: var(--bg-color-ligth);
}

.crumbs:hover {
  background: var(--highligth-color);
}

/* .crumbs:focus,
.crumbs:focus,
.crumbs:last-child:focus {
  background: var(--dark-highligth-color);
  color: var(--bg-color-ligth);
} */
