.global_tree {
  height: 77vh;
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-top: 1em;
}

.no_pie {
  height: 77vh;
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
}

.branch_evolution {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.branch_title {
  border: 1px solid var(--highligth-color);
  border-radius: 8px;
  color: var(--bg-color-ligth);
  background-color: var(--highligth-color);
  width: 100%;
  text-align: left;
  padding: 0.6em 0.6em;
}

.branch_title:focus,
.branch_title:focus-visible {
  outline: none;
}

.branch_title p {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: var(--bg-color-ligth);
}

.branch_title img {
  width: 2em;
  height: auto;
}

.value_chart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
  margin-bottom: 2em;
  gap: 5px;
}

.branch_value {
  width: 100%;
  border-radius: 8px;
  background-color: var(--bg-color-medium-ligth);
  text-align: left;
  gap: 10px;
  padding: 0.6em 1.2em;
}

.icon_linechart {
  width: 2.7em;
  height: 2.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--highligth-color);
  border-radius: 8px;
}

.icon_linechart img {
  width: 24px;
  height: 24px;
}

.popup_linechart {
  position: absolute;
  width: 93%;
  height: 75%;
  background-color: var(--bg-color-ligth);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.closeButton {
  background-color: var(--bg-color-dark-ligth);
  position: inherit;
  padding: 0;
  width: 2em;
  height: 2em;
  top: 3px;
  right: 6px;
  z-index: 9999;
}

.popup_linechart p {
  padding-left: 30px;
}

.linked_children {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.linked_charted {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 100%;
}

.camembert_chart {
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.references {
  display: flex;
  gap: 5px;
}

.listed_children {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .value_chart {
    width: 85%;
  }
  .linked_children {
    width: 78%;
  }
  .popup_linechart {
    top: 18%;
    left: 3%;
    width: 94%;
  }
}

@media screen and (min-width: 1024px) {
  .global_tree {
    width: 70%;
    height: 61vh;
  }
  .no_pie {
    width: 70%;
    flex-direction: row;
    gap: 4em;
  }
  .value_chart {
    gap: 0.5em;
  }
  .branch_title {
    max-width: 100%;
  }
  .camembert_chart {
    width: 25vw;
  }
  .linked_charted {
    width: 95%;
    min-height: 44vh;
    flex-direction: row;
    justify-content: space-between;
  }
  .popup_linechart {
    top: 18%;
    left: 3%;
  }
}
