.global_tree {
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no_pie {
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
}

.branch_evolution {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

.branch_title {
  width: 100%;
}

.branch_title p {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--bg-color-ligth);
  width: 100%;
}

.value_chart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.3em;
  margin-bottom: 2em;
  gap: 5px;
}

.popup_linechart {
  width: 95%;
  height: 70vh;
  background-color: var(--bg-color-ligth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9998;
}

.closeButton {
  background-color: var(--highligth-color);
  color: var(--bg-color-ligth);
  position: inherit;
  padding: 0;
  width: 2em;
  height: 2em;
  top: 3px;
  right: 6px;
  z-index: 9999;
}

.popup_linechart p {
  padding-left: 30px;
}

.linked_children {
  /* min-height: 20vh; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.linked_charted {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  width: 100%;
}

.camembert_chart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.references {
  display: flex;
  gap: 5px;
}

.listed_children {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .linked_children,
  .linked_charted {
    width: 78%;
  }
  .popup_linechart {
    width: 94%;
    /* height: 100%; */
  }
}

@media screen and (min-width: 1024px) {
  .global_tree {
    width: 90%;
  }
  .no_pie {
    width: 80%;
    flex-direction: row;
    gap: 4em;
  }
  .value_chart {
    gap: 0.5em;
  }
  .branch_title {
    max-width: 100%;
  }
  .camembert_chart {
    width: 25vw;
  }
  .linked_charted {
    /* width: 95%; */
    flex-direction: row;
    justify-content: space-between;
  }
}
