.global_tree {
  height: 100%;
  width: 93%;
}

.data_tree {
  height: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current_branch {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.branch_title {
  border: 1px solid var(--highligth-color);
  border-radius: 8px;
  color: var(--bg-color-ligth);
  background-color: var(--highligth-color);
}

.branch_title_value {
  border: 1px solid var(--highligth-color);
  border-radius: 8px;
  color: var(--highligth-color);
  background-color: var(--light-highligth-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0.6em 1.2em;
}

.linked_children {
  margin: 20px 150px 0px 0px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .current_branch {
    width: 75%;
  }
}

@media screen and (min-width: 1024px) {
  .current_branch {
    width: 50%;
  }
}
