@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Patrick+Hand&display=swap");

:root {
  --bg-color-ligth: #ffffff;
  --bg-color-dark: #edeff2;
  --primary-color: #000000;
  --dark-highligth-color: #091863;
  --highligth-color: #061ea5;
  --light-highligth-color: #d4dbff;
  --hidden-color: #7b88a2;
  --main-font: "Nunito", sans-serif;
  --title-font: "Patrick Hand", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color-ligth);
  font-family: var(--main-font);
  font-size: 1em;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  height: 15vh;
  width: 100vw;
}

main {
  height: 79vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  height: 6vh;
  width: 100vw;
}

h1 {
  font-family: var(--title-font);
  font-size: 3em;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  font-family: var(--main-font);
  font-size: 1em;
  color: var(--primary-color);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
}
