.tree_node {
  border: 1px solid var(--highligth-color);
  border-radius: 8px;
  background-color: var(--bg-color-ligth);
  display: flex;
  justify-content: space-between;
  gap: 5px;
  text-align: left;
}

.tree_end {
  border: 1px solid var(--light-highligth-color);
  border-radius: 8px;
  background-color: var(--bg-color-ligth);
  text-align: left;
  color: var(--hidden-color);
}
